<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" />
<link rel="stylesheet" href="./style.css" />
</head>
<body>
  <div class="phone">
    <div class="header">
      {{#if avatar}}
      <img class="avatar" src="{{avatar}}" alt="{{title}}" />
      {{else}}
      <div class="avatar"></div>
      {{/if}}
      <div>
        <div class="title">{{title}}</div>
        <div class="subtitle {{status}}">{{status}}</div>
      </div>
    </div>
    <div class="thread">
      {{#each messages}}
      <div class="row {{#if this.isMine}}mine{{else}}theirs{{/if}}">
        <div class="bubble">
          {{this.message}}
          <span class="time">{{this.time}}</span>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</body>
</html>
